div{

    display: inline;
}
label{

    color:aqua;
    font-size: larger;
}

input
{
  
    width: 40%;
}
input:hover
{
    color: black;
    background-color: beige;
  
}

.btn{

    background-color:aquamarine;
    text-align: center;

}
.btn:hover
{
    background-color: cadetblue;
    animation: forwards;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
