
<div class="row">
    <div class="col-12">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <div class="row" *ngIf="authError">
          <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <label for="email">Email</label>
            <input ngModel #email="ngModel" name="email" type="email" class="form-control" required pattern="(.*@yahoo.com$)|(.*@gmail.com$)">
           <span class="help-block" *ngIf="!email.valid && email.touched">Your adress mail should end with @yahoo.com or @gmail.com!</span>
          </div>
        </div>
  
        <div class="row">
          <div class="col-12">
            <label for="password">Password</label>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control" required>
            <span class="help-block" *ngIf="!password.valid && password.touched">Your password is inccorect</span>
          </div>
        </div>
  
          <div class="col-12">
            <button class="btn btn-primary" type="submit"  [disabled]="!loginForm.valid">Login</button>
          </div>
      </form>
    </div>
  </div>
