label{

    color:lightcoral;
    font-size: larger;
}

input
{
  
    width: 30%;
}
input:hover
{
    color: black;
    background-color: beige;
  
}

.btn{

    background-color:salmon;
    text-align: center;

}
.btn:hover
{
    background-color:lightsalmon;
    animation: forwards;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
