
<div class="row mt-4">
  <div class="col-12">
    <div class="row" *ngIf="authError">
      <div class="col-12 alert alert-danger">
        {{ authError?.message }}
      </div>
    </div>

<form #frmPasswordReset="ngForm" (ngSubmit)="sendPasswordResetRequest()">
  <div>
  <div class="row">
    <div class="col-md-12 mb-2">
      <label for="email">Enter your email for changing your password</label>
      <input ngModel #email="ngModel" name="email" type="email" class="form-control" required pattern="(.*@yahoo.com$)|(.*@gmail.com$)">
      <span class="help-block" *ngIf="!email.valid && email.touched">Your adress mail should end with @yahoo.com or @gmail.com!</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" type="submit"  [disabled]="!email.valid">Send Email</button>
    </div>
  </div>
  </div>
  </form>
</div>
</div>
